<h1>Contacts</h1>

<div class="table-responsive mt-3">
  <table class="table table-hover align-middle">
    <thead class="table-dark align-middle">
      <tr>
        <th></th>
        <th>Username</th>
        <th>Name</th>
        <th>Location</th>
	<th>email</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
      <tr>
        <!--td><# link_to image_tag(user.image.variant(resize_to_fill: [100, 100]), class: 'image-list'), user.imag-->
        <td><%= user.username %></td>
        <td><%= user.name %></td>
        <td><%= user.city %>, <%= user.country %></td>
	<td><%= user.email %></td>
	<td><%= link_to "Visit", user, class: 'btn btn-primary btn-sm' %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br/>

<%#= link_to 'New Contact', new_user_path, class: 'btn btn-primary' %>
