<nav class="nav">
  <ul class="nav-links">
    <a href="<%= root_path %>" id="logoclick" class="nav-links"><%= image_tag "logo.png", id:"logo" %>LinkBranches</a>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Users", users_path %></li>
    <% if user_signed_in? %>
    <li><%= link_to "Profile", current_user%></li>
    <% end %>
  </ul>
</nav>
<div class="session">
  <% if user_signed_in? %>
  <a id="signup"><button><%= link_to "SIGN OUT", destroy_user_session_path, method: :delete %></button></a>
  <% else %>
  <a id="login" href="<%= new_user_session_path %>">Log in</a>
  <a id="signup" href="<%= new_user_registration_path %>"><button>SIGN UP FREE</button></a>
  <% end %>
</div>


