<nav class="nav">
  <ul class="nav-links">
    <a href="<%= root_path %>" id="logoclick" class="nav-links"><%= image_tag "logo.png", id:"logo" %>LinkBranches</a>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Articles", root_path %></li>
    <li><%= link_to "About", root_path %></li>
  </ul>
</nav>
<div class="session">
  <a id="login" href="#">Log in</a>
  <a id="signup" href="#"><button>SIGN UP FREE</butto\
n></a>
</div>


